<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="utf-8" />*@
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    @*<title>@ViewData["Title"] - UsBDPropertyRealEstateProject</title>*@
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>US-BD Property</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/AdminAsserts/img/favicon.png" rel="icon">
    <link href="~/AdminAsserts/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/AdminAsserts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/AdminAsserts/css/style.css" rel="stylesheet">
    <link href="~/asserts/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <div class="logo d-flex align-items-center">
                <img src="~/Asserts/logo/Us--Bangla-logo-web-03.png" height="100px" width="200px" alt="">
                @*<span class="d-none d-lg-block">NiceAdmin</span>*@
            </div>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a asp-action="Index" asp-controller="Countries" class="nav-link nav-icon search-bar-toggle">
                        <i class="bi bi-search">c</i>
                    </a>
                </li><!-- End Search Icon-->
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/AdminAsserts/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/AdminAsserts/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/AdminAsserts/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">


                    <a href="/Profile/ChangePic" class="nav-link nav-profile d-flex align-items-center pe-0">
                        <img src="~/AdminAsserts/img/profile-img.jpg" alt="Profile" class="rounded-circle" />
                    </a>
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@User.Identity.Name</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>
                                @User.Identity.Name;
                            </h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a asp-action="Dashboard" asp-controller="Admin" class="nav-link">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-geo-alt-fill"></i><span>Locations</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-action="Index" asp-controller="Countries">
                            <i class="bi bi-circle"></i><span>Country</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Divisions">
                            <i class="bi bi-circle"></i><span>Division</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Cities">
                            <i class="bi bi-circle"></i><span>City</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Areas">
                            <i class="bi bi-circle"></i><span>Area</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Location Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Devlopers" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-building"></i><span>Developer or Agent or Individual</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Devlopers" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-action="Index" asp-controller="DevelopersorAgents">
                            <i class="bi bi-circle"></i><span>All Devlopers</span>
                        </a>
                    </li>
                   @* <li>
                        <a asp-action="Index" asp-controller="PropertyFeatures">
                            <i class="bi bi-circle"></i><span>All Individuals</span>
                        </a>
                    </li>*@

                </ul>
            </li><!-- End Developer/Agent Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Propject" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-building"></i><span>Projects Information</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Propject" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-action="Index" asp-controller="ProjectsInfoes">
                            <i class="bi bi-circle"></i><span>Projects</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="ProjectImageGalleries">
                            <i class="bi bi-circle"></i><span>Projects Images</span>
                        </a>
                    </li>

                    @*<li>
                        <a asp-action="Index" asp-controller="PropertyDetails">
                            <i class="bi bi-circle"></i><span>Property Information</span>
                        </a>
                        <a asp-action="Index" asp-controller="MultipleImageUploads">
                            <i class="bi bi-circle"></i><span>Propject Images</span>
                        </a>
                    </li>*@
                </ul>
            </li><!-- End Propject Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-building"></i><span>Properties</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-action="Index" asp-controller="PropertyTypes">
                            <i class="bi bi-circle"></i><span>Property Types</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="PropertyFeatures">
                            <i class="bi bi-circle"></i><span>Property Features</span>
                        </a>
                    </li>
                   @* <li>
                        <a asp-action="Index" asp-controller="PropertyFors">
                            <i class="bi bi-circle"></i><span>Property Fors</span>
                        </a>
                    </li>*@
                   @* <li>
                        <a asp-action="Index" asp-controller="PropertyOwnerInfoes">
                            <i class="bi bi-circle"></i><span>Property Owner Information</span>
                        </a>
                    </li>*@
                    <li>
                        <a asp-action="Index" asp-controller="PropertyDetails">
                            <i class="bi bi-circle"></i><span>Property Information</span>
                        </a>
                        <a asp-action="Index" asp-controller="PropertyImages">
                            <i class="bi bi-circle"></i><span>Property Images</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Property Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="ri-settings-4-fill"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li>
                        <a asp-action="Index" asp-controller="Notices">
                            <i class="bi bi-circle"></i><span>Notifications</span>
                        </a>
                    </li>
                   @* <li>
                        <a asp-action="Index" asp-controller="TransactionTypes">
                            <i class="bi bi-circle"></i><span>Transaction Types</span>
                        </a>
                    </li>*@
                    <li>
                        <a asp-action="Index" asp-controller="TermsConditions">
                            <i class="bi bi-circle"></i><span>Terms & Conditions</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="PrivacyPolicies">
                            <i class="bi bi-circle"></i><span>Privacy Policy</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="ClientContacts">
                            <i class="bi bi-circle"></i><span>Client Contact</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Settngs Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Role-nav" data-bs-toggle="collapse"
                   href="#">
                    <i class="ri-settings-4-fill"></i><span>Authentication</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Role-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li>
                        <a asp-action="Index" asp-controller="Roles">
                            <i class="bi bi-circle"></i><span> Role</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Users">
                            <i class="bi bi-circle"></i><span>All User</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="TermsConditions">
                            <i class="bi bi-circle"></i><span>Assign User to Role</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="PrivacyPolicies">
                            <i class="bi bi-circle"></i><span>Forgot Password</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="ClientContacts">
                            <i class="bi bi-circle"></i><span>Create Developers</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Authentication Nav -->
             <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                   <i class="bi bi-people-fill"></i><span>Client Information</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-action="Index" asp-controller="ClientContacts" asp-route-id="1" >
                            <i class="bi bi-circle"></i><span>Zoom Interested</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="ClientContacts" asp-route-id="2">
                            <i class="bi bi-circle"></i><span>Buy</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ClientContacts/Index?id=3">
                            <i class="bi bi-circle"></i><span>Sale</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Client Nav -->

            @*<li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-4-fill"></i><span>Client Information</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                <a asp-action="Index" asp-controller="Notices">
                <i class="bi bi-circle"></i><span>Zoom Interested</span>
                </a>
                </li>
                <li>
                <a asp-action="Index" asp-controller="TransactionTypes">
                <i class="bi bi-circle"></i><span>Buy</span>
                </a>
                </li>
                <li>
                <a asp-action="Index" asp-controller="TermsConditions">
                <i class="bi bi-circle"></i><span>Sale</span>
                </a>
                </li>
                </ul>
                </li>*@

            <!-- End Forms Nav -->
            @*<li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Client Information</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                <a href="tables-general.html">
                <i class="bi bi-circle"></i><span>Zoom Interested</span>
                </a>
                </li>
                <li>
                <a href="tables-data.html">
                <i class="bi bi-circle"></i><span>Buy</span>
                </a>
                </li>
                <li>
                <a href="tables-data.html">
                <i class="bi bi-circle"></i><span>Buy</span>
                </a>
                </li>
                </ul>
                </li>*@
            <!-- End Tables Nav -->
                      @* <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                <a href="icons-bootstrap.html">
                <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                </a>
                </li>
                <li>
                <a href="icons-remix.html">
                <i class="bi bi-circle"></i><span>Remix Icons</span>
                </a>
                </li>
                <li>
                <a href="icons-boxicons.html">
                <i class="bi bi-circle"></i><span>Boxicons</span>
                </a>
                </li>
                </ul>
                </li>*@
            <!-- End Icons Nav -->
            @*<li class="nav-heading">Pages</li>

                <li class="nav-item">
                <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Profile</span>
                </a>
                </li>*@
            <!-- End Profile Page Nav -->
            @*<li class="nav-item">
                <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
                </a>
                </li>*@
            <!-- End F.A.Q Page Nav -->
            @*<li class="nav-item">
                <a class="nav-link collapsed" href="pages-contact.html">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
                </a>
                </li>*@
            <!-- End Contact Page Nav -->
            @*<li class="nav-item">
                <a class="nav-link collapsed" href="pages-register.html">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
                </a>
                </li>*@
            <!-- End Register Page Nav -->
            @*<li class="nav-item">
                <a class="nav-link collapsed" href="pages-login.html">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
                </a>
                </li>*@
            <!-- End Login Page Nav -->
            @*<li class="nav-item">
                <a class="nav-link collapsed" href="pages-error-404.html">
                <i class="bi bi-dash-circle"></i>
                <span>Error 404</span>
                </a>
                </li>*@
            <!-- End Error 404 Page Nav -->
            @*<li class="nav-item">
                <a class="nav-link collapsed" href="pages-blank.html">
                <i class="bi bi-file-earmark"></i>
                <span>Blank</span>
                </a>
                </li>*@
            <!-- End Blank Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->



    <div class="container">
        <main role="main" class="pb-3 main" id="main">
            @RenderBody()
        </main>
    </div>

    <!--======= FOOTER =========-->
    @*  <footer>
        <div class="container">

        <!--======= NEWSLETTER =========-->
        <div class="subcribe">
        <div class="col-sm-5 no-padding">
        <h4>Subscribe to our newsletter</h4>
        </div>
        <div class="col-sm-7 no-padding">
        <form>
        <input class="font-montserrat" type="email" placeholder="E-mail Address" value="" required>
        <button type="submit" class="btn"> Subscribe</button>
        </form>
        </div>
        </div>
        <ul class="row">

        <!--======= HAPPY CLIENTS =========-->
        <li class="col-sm-3">
        <h5>About us</h5>
        <hr>
        <p>You wanna be where you can see our troubles are all the same. You wanna be where everybody knows Your name. Here's the story of a their tropic island nest.</p>

        <!--======= SOCIAL ICONS =========-->

        <ul class="social_icons">
        <li class="facebook"> <a href="#."><i class="fa fa-facebook"></i> </a></li>
        <li class="twitter"> <a href="#."><i class="fa fa-twitter"></i> </a></li>
        <li class="linkedin"> <a href="#."><i class="fa fa-linkedin"></i> </a></li>
        <li class="tumblr"> <a href="#."><i class="fa fa-tumblr"></i> </a></li>
        </ul>
        </li>

        <!--======= HAPPY CLIENTS =========-->
        <li class="col-sm-3">
        <!--======= LINKS =========-->
        <h5>latest tweets</h5>
        <hr>
        <ul class="tweet">
        <li>
        <p>Realtor is one of the excellent realestatetheme <a href="#.">http://realtorrealestae</a> one of the excellent realestatetheme </p>
        <span>1 hours ago</span> </li>
        <li>
        <p>Realtor is one of the excellent realestatetheme <a href="#.">http://realtorrealestae</a> one of the excellent realestatetheme </p>
        <span>1 hours ago</span> </li>
        </ul>
        </li>
        <li class="col-sm-3">
        <h5>recent properties</h5>
        <hr>
        <ul class="recent-come">
        <li>
        <div class="img-post"> <img src="~/Asserts/images/recent-img.jpg" alt=""> </div>
        <div class="text-post"> <a href="#.">On your mark get set and go now</a> <span>$956,205</span> </div>
        </li>
        <li>
        <div class="img-post"> <img src="~/Asserts/images/recent-img-1.jpg" alt=""> </div>
        <div class="text-post"> <a href="#.">On your mark get set and go now</a> <span>$956,205</span> </div>
        </li>
        <li>
        <div class="img-post"> <img src="~/Asserts/images/recent-img-2.jpg" alt=""> </div>
        <div class="text-post"> <a href="#.">On your mark get set and go now</a> <span>$956,205</span> </div>
        </li>
        </ul>
        </li>

        <!--======= HAPPY CLIENTS =========-->
        <li class="col-sm-3">
        <!--======= LINKS =========-->
        <h5>Contact</h5>
        <hr>
        <div class="loc-info">
        <p><i class="fa fa-map-marker"></i> 09 Design Street,Downtown,
        Sydney, Australia</p>
        <p><i class="fa fa-phone"></i> +01 123 456 78</p>
        <p><i class="fa fa-print"></i> +01 123 456 78</p>
        <p><i class="fa fa-envelope-o"></i> Info@realtor.com</p>
        </div>
        </li>
        </ul>
        </div>
        </footer>*@

    <!--======= RIGHTS =========-->
    <div class="rights">
        <div class="container">
            <p class="font-montserrat">
                ©Copyright US BD Property All Rights Reserved 2023- @DateTime.Now.Year| Design &amp; Developed by <a href="https://www.powersoftit.com/" target="_blank"><strong><span>PowersoftIT</span></strong></a>
            </p>
        </div>
    </div>
    @*</div>*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Vendor JS Files -->

    <script src="~/AdminAsserts/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/AdminAsserts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminAsserts/vendor/chart.js/chart.umd.js"></script>
    <script src="~/AdminAsserts/vendor/echarts/echarts.min.js"></script>
    <script src="~/AdminAsserts/vendor/quill/quill.min.js"></script>
    <script src="~/AdminAsserts/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/AdminAsserts/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/AdminAsserts/vendor/php-email-form/validate.js"></script>

    @*<script src="~/ckeditor/ckeditor.js"></script>*@
    <!------- CKEDITOR ----------->
    <script src="~/ckeditor/ckeditor.js"></script>

    <!-- Template Main JS File -->
    <script src="~/AdminAsserts/js/main.js"></script>
    @*<script type="text/javascript">*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
