@model USBDProperty.Models.DevelopersorAgent
@*@model USBDProperty.ViewModels.ClientVM*@
@* @model USBDProperty.ViewModels.DeveloperPropertyVm *@


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    @* @foreach (var dev in Model)
        { *@
    <title>USBD Property's - @Model.CompanyName </title>
    @* } *@
    @*<title></title>*@
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon_io/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon_io/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon_io//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon_io/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon_io/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon_io/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon_io/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon_io/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon_io/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">


    @*  <link href="~/AgentAsserts/img/favicon.png" rel="icon">
        <link href="~/AgentAsserts/img/apple-touch-icon.png" rel="apple-touch-icon">*@


    <link href="~/Asserts/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Asserts/css/main.css" rel="stylesheet" type="text/css">
    <link href="~/Asserts/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Asserts/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Asserts/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="~/Asserts/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/AgentAsserts/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/AgentAsserts/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/AgentAsserts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AgentAsserts/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/AgentAsserts/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/AgentAsserts/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/AgentAsserts/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/AgentAsserts/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/AgentAsserts/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">


            @*<h1 class="logo"><a href="index.html">@Url.Content(@item.Logo)</a></h1>*@
            <h1 class="logo"><a href="index.html"><img src="@Url.Content(@Model.Logo)"></a></h1>


            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#about">Projects</a></li>

                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="/Home/Index">Back Home</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>


            <img src="@Url.Content(Model.Banner)" />


            @*<div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
                <div class="carousel-container">
                <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Multi</span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
                </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
                <div class="carousel-container">
                <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
                </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
                <div class="carousel-container">
                <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
                </div>
                </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>*@

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About</h2>
                    <p>About Us</p>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <a href="#" class="btn-learn-more">Learn More</a>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Counts Section ======= -->
        @*<section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

            <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Happy Clients</strong> consequuntur quae qui deca rode</p>
            <a href="#">Find out more &raquo;</a>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Projects</strong> adipisci atque cum quia aut numquam delectus</p>
            <a href="#">Find out more &raquo;</a>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Hours Of Support</strong> aut commodi quaerat. Aliquam ratione</p>
            <a href="#">Find out more &raquo;</a>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Hard Workers</strong> rerum asperiores dolor molestiae doloribu</p>
            <a href="#">Find out more &raquo;</a>
            </div>
            </div>

            </div>

            </div>
            </section>*@
        <!-- End Counts Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Projects</h2>
                    <p>Check @Model.CompanyName Projects</p>
                </div>

                <div class="row">
                    <div class='load_projects'>

                    </div>
                    @*<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Lorem Ipsum</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Sed ut perspiciatis</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Magni Dolores</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4><a href="">Nemo Enim</a></h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                        <div class="icon"><i class="bx bx-slideshow"></i></div>
                        <h4><a href="">Dele cardo</a></h4>
                        <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                        </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                        <div class="icon"><i class="bx bx-arch"></i></div>
                        <h4><a href="">Divera don</a></h4>
                        <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                        </div>
                        </div>*@

                </div>

            </div>
        </section>
        <!-- End Services Section -->
        <!-- ======= PropertySection Section ======= -->
        <section class="properties">
            @*<div class="container">*@

            <!--======= TITTLE =========-->
            <div class="tittle">
                <img src="~/Asserts/images/head-top.png" alt="">
                <h3>Featured Properties</h3>
            </div>

            <!--======= PROPERTIES ROW =========-->
            @* <ul class="row"> *@
            <div class="load_projects">
            </div>
            @* </ul> *@
            @*</div>*@
        </section>
        <!-- End Property Section -->
        <!-- ======= Why Us Section ======= -->
        @*<section id="why-us" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">

            <div class="row">

            <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/why-us.jpg");' data-aos="zoom-in" data-aos-delay="100">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
            <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto</strong></h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
            </p>
            </div>

            <div class="accordion-list">
            <ul>
            <li>
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
            <p>
            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
            </p>
            </div>
            </li>

            <li>
            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
            <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
            </p>
            </div>
            </li>

            <li>
            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
            <p>
            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
            </p>
            </div>
            </li>

            </ul>
            </div>

            </div>

            </div>

            </div>
            </section>*@
        <!-- End Why Us Section -->
        <!-- ======= Testimonials Section ======= -->
        @*<section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

            <div class="section-title">
            <h2>Testimonials</h2>
            <p>Testimonials</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

            <div class="swiper-slide">
            <div class="testimonial-wrap">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            </div>
            </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
            <div class="testimonial-wrap">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            </div>
            </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
            <div class="testimonial-wrap">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            </div>
            </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
            <div class="testimonial-wrap">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            </div>
            </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
            <div class="testimonial-wrap">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            </div>
            </div>
            </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
            </div>

            </div>
            </section>*@
        <!-- End Testimonials Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box">
                                    <i class="bx bx-map"></i>
                                    <h3>Our Address</h3>
                                    <p>39 Headline Rd, Deer Park, NY 11729</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>ashraf@usbdproperty.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Call Us</h3>
                                    <p>+88 0188660077</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer>
        <div class="container">

            <!--======= NEWSLETTER =========-->
            @*<div class="subcribe">
                <div class="col-sm-5 no-padding">
                <h4>Subscribe to our newsletter</h4>
                </div>
                <div class="col-sm-7 no-padding">
                <form>
                <input class="font-montserrat" type="email" placeholder="E-mail Address" value="" required>
                <button type="submit" class="btn"> Subscribe</button>
                </form>
                </div>
                </div>*@
            <ul class="row">

                <!--======= HAPPY CLIENTS =========-->
                @* <li class="col-sm-6 col-md-3">
                    <h5>About us</h5>
                    <hr>
                    <p>
                    Partner with USBD-PROPERTY for a global real estate journey. Whether you're a US resident or an investor from Bangladesh, our joint venture offers a comprehensive solution for navigating and thriving in the dynamic US real estate market.
                    </p>

                    <!--======= SOCIAL ICONS =========-->

                    <ul class="social_icons">
                    <li class="facebook"> <a target="_blank" href="https://www.facebook.com/DhorittreewithAshraf"><i class="fa fa-facebook"></i> </a></li>

                    </ul>
                    </li>*@

                <!--======= HAPPY CLIENTS =========-->
                <li class="col-sm-6 col-md-4">
                    <!--======= LINKS =========-->
                    <h5>latest from Facebook</h5>
                    <hr>
                    <ul class="tweet">
                        <li>
                            <p>
                                US-BDProperty is one of the excellent realestate market place
                                <a target="_blank" href="https://www.facebook.com/DhorittreewithAshraf">Facebook page</a> one of the excellent realestate market place
                                on facebook.
                            </p>
                            @*  <span>1 hours ago</span> *@
                        </li>
                        <li>
                            <p>Join our    <a target="_blank" href="https://www.facebook.com/DhorittreewithAshraf">Facebook Group</a> to touch with us. </p>

                        </li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4">
                    <h5>recent properties</h5>
                    <hr>
                    <ul class="recent-come">
                        <div class="load_FooterProperty">
                        </div>
                    </ul>
                </li>

                <!--======= HAPPY CLIENTS =========-->
                <li class="col-sm-6 col-md-4">
                    <!--======= LINKS =========-->
                    <h5>Contact</h5>
                    <hr>
                    <div class="loc-info">
                        <p>
                            <address>
                                <i class="fa fa-map-marker"></i>

                                567,East-Kazipara,Mirpur,Dhaka-1216

                            </address>
                        </p>
                        <p><i class="fa fa-phone"></i> +88 01712532107</p>
                        <p><i class="fa fa-print"></i> +880 1881-660077 (WhatsApp)</p>
                        <p><i class="fa fa-envelope-o"></i>	ashraf@usbdproperty.com</p>
                    </div>
                </li>
            </ul>
        </div>
    </footer>

    <div class="rights">
        <div class="container">
            <p class="font-montserrat">
                ©Copyright US-BDProperty All Rights Reserved 2023- @DateTime.Now.Year| Design &amp; Developed by <a href="https://www.powersoftit.com/" target="_blank"><strong><span>PowersoftIT</span></strong></a>
            </p>
        </div>
    </div>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/AgentAsserts/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/AgentAsserts/vendor/aos/aos.js"></script>
    <script src="~/AgentAsserts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AgentAsserts/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/AgentAsserts/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/AgentAsserts/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/AgentAsserts/vendor/php-email-form/validate.js"></script>


    <!------- Home LAyout js ---------->

    <script src="~/Asserts/js/jquery-1.11.0.min.js"></script>
    <script src="~/Asserts/js/wow.min.js"></script>
    <script src="~/Asserts/js/bootstrap-select.js"></script>
    <script src="~/Asserts/js/bootstrap-select.js"></script>
    <script src="~/Asserts/js/bootstrap.min.js"></script>
    <script src="~/Asserts/js/jquery.stellar.js"></script>
    <script src="~/Asserts/js/jquery.flexslider-min.js"></script>
    <script src="~/Asserts/js/owl.carousel.min.js"></script>
    <script src="~/Asserts/js/jquery.sticky.js"></script>
    <script src="~/Asserts/js/own-menu.js"></script>
    <script src="~/Asserts/js/jquery.nouislider.min.js"></script>
    <script src="~/Asserts/js/main.js"></script>




    <!-- Template Main JS File -->
    <script src="~/AgentAsserts/js/main.js"></script>



    <script>
        $(document).ready(function (){

            getFooterProperty()
            getProperty()
            GetHomeProjects()

        })

        function getFooterProperty(){
              //alert("helo")
              $.ajax({
                  url: "/PropertyDetails/HomeFooterProperty",
                  method: "Get",
                  success: function(res){
                      console.log(res.data)
                      var propertylist = "";
                      $.each(res.data, function(index, value){
                          console.log(value )
                          console.log(value.numberOfBedrooms )
                          //propertylist += '<ul class="recent-come">';
                          propertylist += '<li><div class="img-post"> <img src="'+ value.path +'" height="59px" width="59px" alt=""> </div><div class="text-post"> <a href="#.">'+ value.propertyName +'</a> <span>$'+ value.totalPrice +'</span> </div></li>'
                      });
                      console.log("Image")
                      console.log(propertylist);
                      //console.log(PropertySize);
                      //propertylist += '</ul>';
                      $(".load_FooterProperty").empty();
                      $(".load_FooterProperty").html(propertylist);
                  }
              })
        }

        function getProperty(){
            //alert("helo")
            $.ajax({
                url: "/PropertyDetails/HomeProperty",
                method: "Get",
                success: function(res){
                    console.log(res.data)
                    var propertylist = "";
                    $.each(res.data, function(index, value){
                        console.log(value )
                        console.log(value.numberOfBedrooms )
                        propertylist += '<ul class="row">';
                        propertylist += '<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="/PropertyDetails/HomePropertyDetails/'+ value.propertyInfoId +'"><span class="tag font-montserrat sale">For ' + value.propertyFor + '</span><section><div class="img"><img class="img-responsive" src="' + value.path +'" alt=""><div class="over-proper"> <p class="btn font-montserrat">more details</p> </div></div><ul class="home-in"><li><span><i class="fa fa-home"></i>' + value.propertySize + '</span></li><li><span><i class="fa fa-bed"></i>' + value.numberOfBedrooms + '</span></li><li><span><i class="fa fa-tty"></i>' + value.numberOfBaths + '</span></li></ul><div class="detail-sec"><h5 class="fw-bold">' + value.title + '</h5><p class="text-success"> ' + value.propertyType.propertyTypeName + '</p> <span class="price font-montserrat">' + value.totalPrice + ' Tk</span><span class="locate"><i class="fa fa-map-marker"></i>' + value.location + '</span><div class="share-p"> <span class="btn_more">' + " More Details" + '</span> </div></div></a></section></li>'
                    });
                    console.log(propertylist);
                    console.log("Hello");
                    //console.log(PropertySize);
                    propertylist += '</ul>';
                    $(".load_Property").empty();
                    $(".load_Property").html(propertylist);
                }
            })
        }
        function GetHomeProjects(){

            alert("Home")
            var curloc = $(location).attr('href');
            var url = curloc.split('/');
            console.log("HomeAgentProject");
            console.log(url);
            var id = url[url.length - 1];
            console.log("D :" + id)

            //alert("Projects")
           $.ajax({
                url: "/AgentHome/HomeAgentProject/" + id ,
                method: "Get",
                success: function(res){
                console.log(res.data);
                console.log("Projects");
                var projectdata = "";
                $.each(res.data, function(index, value){
                    projectdata += ' <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300"><div class="icon-box"><div class="icon"><i class="bx bx-arch"></i></div><h4><a href="">' + value.projectName + '</a></h4><p>' + value.description + '</p></div></div> '
                });
                console.log(projectdata);
                console.log("DataProjects");
                $(".load_projects").empty();
                $("load_projects").html(projectdata);
             }
           })

        }

    </script>

</body>

</html>
