@model IEnumerable<USBDProperty.Models.PropertyType>

@{
    ViewData["Title"] = "Index";
    if (User.IsInRole("Agent"))
    {
        Layout = "~/Views/Shared/_AgentLayout.cshtml";
    }
    else
    {
        // Layout = "~/Views/Shared/_AdminLayout.cshtml";
        Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    }
}

<div class="content-wrapper" style="min-height: 1345.31px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Locations</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Properties</li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="PropertyTypes">Property Types</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Area</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="AreaName" class="control-label"></label>
                                            <input asp-for="AreaName" class="form-control" />
                                            <span asp-validation-for="AreaName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CityId" class="control-label"></label>
                                            <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    @* <button type="submit" class="btn btn-primary">Submit</button> *@
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group mt-2">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 mt-2">
                                            <div class="form-group">
                                                <a asp-action="Index">Back to List</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <!-- /.card -->


                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@* <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <h5 class="card-title text-center">List of Property Types</h5>
            </div>
            <div class="col-md-3">
                <h5 class="card-title"><a asp-action="Create">Create New</a></h5>
            </div>
        </div>
        <table class="table datatable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PropertyTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentPropertyTypeId)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PropertyTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentPropertyTypeId)
                        </td>
                        <td class="col-md-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success">Action</button>
                                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-primary" asp-action="Edit" asp-route-id="@item.PropertyTypeId"><i class="bi bi-pencil-square"></i>Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-primary" asp-action="Details" asp-route-id="@item.PropertyTypeId"><i class="bi bi-eye-fill"></i>Details</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-primary" asp-action="Delete" asp-route-id="@item.PropertyTypeId"><i class="bi bi-trash"></i>Delete</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> *@
