@model IEnumerable<USBDProperty.Models.ProjectsInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AgentLayout.cshtml";
}
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationMap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectVideo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
            @*     @Html.DisplayFor(modelItem => item.LocationMap) *@
                                    @if (item.LocationMap != null)
                                    {
                                        <img src="@Url.Content(item.LocationMap)"  />
                                    }
            </td>
            <td>
              @*   @Html.DisplayFor(modelItem => item.Developers.Banner) *@
                                    @if (item.ProjectVideo != null)
                                    {
                                       <video src="@Url.Content(item.ProjectVideo)"></video>

                                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div></div></div></div>
