@model USBDProperty.Models.PropertyDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<main id="main">*@
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Property Update Listing</h5>
            <hr  style="width:100%; "/>
            <form asp-action="Edit" method="" enctype="multipart/form-data" asp-controller="PropertyDetails">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PropertyInfoId" />
                <div class="row">
                    <h2>Property Types</h2>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label   class="control-label">Purposes</label>
                            <select asp-for="PropertyFor" class="form-control" asp-items="Html.GetEnumSelectList<PropertyFor>()">
                                <option value="1">Select Type</option>
                            </select>
                            <span asp-validation-for="PropertyFor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label   class="control-label">Property Types</label>
                        <select id="parenTypes" class="form-control" asp-items="ViewBag.PropertyTypeId">
                                <option value="0">Select Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PropertyTypeId" class="control-label">Types</label>
                            @*<select asp-for="PropertyTypeId" id="drptypes" class="form-control" ></select>*@
                            <select asp-items="ViewBag.PropertyTypeId" id="drptypes" class="form-control"  ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2>Location</h2>
                    <hr />
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label   class="control-label">Country</label>
                            <select class="form-control" asp-items="ViewBag.CountryId" ></select>
                            @*<select  id="drpCountry" class="form-control"  ></select>*@
                        </div>
                        <div class="form-group">
                            <label class="control-label">Division</label>
                            <select id="drpDivision" class="form-control" asp-items="ViewBag.DivisionId" ></select>
                        </div>
                      
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label  class="control-label">City</label>
                            <select id="drpCity" class="form-control" asp-items="ViewBag.CityId" ></select>
                        </div>
                        <div class="form-group">
                            <label   class="control-label">Area</label>
                            @*<select id="drpArea"  asp-for="AreaId"  class="form-control"  ></select>*@
                            <select id="drpArea"  asp-items="ViewBag.AreaId" class="form-control"  ></select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label   class="control-label">Address</label>
                            <input type="text" asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2>Developer's Information</h2>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Developer</label>
                            @*<select id="drpDeveloper" class="form-control"  >*@
                            <select class="form-control" asp-items="ViewBag.ID" >
                               
                            </select>
                            
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label   class="control-label">Projcts</label>
                            @*<select asp-for="ProjectId" id="drpprj" class="form-control"></select>*@
                            <select asp-items="ViewBag.Id" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                <h2>Property's' Information</h2>
             <hr />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PropertyName" class="control-label"></label>
                            <input type="text" asp-for="PropertyName" class="form-control" />
                            <span asp-validation-for="PropertyName" class="text-danger"></span>
                        </div>
                    </div>
                   @*  <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PropertyTypeId" class="control-label"></label>
                            <select asp-for="PropertyTypeId" class="form-control" asp-items="ViewBag.PropertyTypeId"></select>
                        </div>
                    </div> *@
                </div>
              
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ConstructionStatus" class="control-label"></label>
                           

                            <select asp-for="ConstructionStatus" class="form-control"
                                    asp-items="@Html.GetEnumSelectList<ConstructionStatus>()">
                                <option value="0">Select Property's condition</option>
                            </select>
                            
                            <span asp-validation-for="ConstructionStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PropertySize" class="control-label"></label>
                            <input type="text" asp-for="PropertySize" class="form-control" />
                            <span asp-validation-for="PropertySize" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NumberOfBedrooms" class="control-label"></label>
                            <input type="number" asp-for="NumberOfBedrooms" class="form-control" />
                            <span asp-validation-for="NumberOfBedrooms" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NumberOfBaths" class="control-label"></label>
                            <input type="number" asp-for="NumberOfBaths" class="form-control" />
                            <span asp-validation-for="NumberOfBaths" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NumberOfBalconies" class="control-label"></label>
                            <input type="number" asp-for="NumberOfBalconies" class="form-control" />
                            <span asp-validation-for="NumberOfBalconies" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NumberOfGarages" class="control-label"></label>
                            <input type="number" asp-for="NumberOfGarages" class="form-control" />
                            <span asp-validation-for="NumberOfGarages" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TotalFloor" class="control-label"></label>
                            <input type="number" asp-for="TotalFloor" class="form-control" />
                            <span asp-validation-for="TotalFloor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="FloorAvailableNo" class="control-label"></label>
                            <input type="text" asp-for="FloorAvailableNo" class="form-control" />
                            <span asp-validation-for="FloorAvailableNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Furnishing" class="control-label"></label>
                           
                            <select asp-for="Furnishing" class="form-control"
                                    asp-items="@Html.GetEnumSelectList<Furnished>()">
                                <option>Select Property Decoration</option>
                            </select>
                            <span asp-validation-for="Furnishing" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Facing" class="control-label"></label>
                            <select   asp-for="Facing" class="form-control" 
                            asp-items="@Html.GetEnumSelectList<Facing>()">
                                <option>Select Property Face</option>
                            </select>
                            <span asp-validation-for="Facing" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="LandArea" class="control-label"></label>
                            <input type="text" asp-for="LandArea" class="form-control" />
                            <span asp-validation-for="LandArea" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input type="text" asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="MeasurementID" class="control-label"></label>
                            <select id="drpunit" class="form-control" asp-items="ViewBag.MeasurementID"></select>
                            @*<select id="drpunit" asp-items="ViewData.MeasurementID" class="form-control"   >

                            </select>*@
                            <span asp-validation-for="MeasurementID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="HandOverDate" class="control-label"></label>
                            <input asp-for="HandOverDate" class="form-control" />
                            <span asp-validation-for="HandOverDate" class="text-danger"></span>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Comments" class="control-label"></label>
                            <input type="text" asp-for="Comments" class="form-control" />
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                    </div>
                @*     <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="IconId" class="control-label"></label>
                            <select asp-for="IconId" class="form-control" asp-items="ViewBag.IconId"></select>
                        </div>
                    </div> *@
                   @*  <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ProjectId" class="control-label"></label>
                            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                        </div>
                    </div> *@
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input type="file" class="form-control" asp-for="Image"/>
                            @*<input type="file" asp-for="Image" class="form-control" id="imageInput" />*@
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                   <div class="col-md-4">
                        <div style="width:180px;height:180px; border:2px solid #012970; border-radius:10px; padding:10px;">
                            <img src="@Url.Content(Model.Path)" style="width:155px;height:155px;" alt="Image Upload" />
                             @*<img src="#" style="width:155px;height:155px;" alt="Image Upload" id="imgPreview">*@
                        </div>
                    </div>
                </div>
                 <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea type="text" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ISFeatured" /> @Html.DisplayNameFor(model => model.ISFeatured)
                    </label>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div><a asp-action="Index">Back to List</a></div>
                    </div>
                </div>





            </form>
        </div>
    </div>
@*</main>*@

@section Scripts{
<script>
    $(document).ready(function (){
         CKEDITOR.replace('Description', {
            height: 300,
            width: '100%',
         });
         loadParentType()
         //loadDeveloper()
         //loadPrjbyDeveloper(devid)
         //$("#drpDeveloper").change(function () {
         //       alert($(this).val())
         //       loadPrjbyDeveloper($(this).val())
         //})
          //$("#imageInput").change(function () {
          //      const file = this.files[0];
          //      console.log(file);
          //      if (file) {
          //          let reader = new FileReader();
          //          reader.onload = function (event) {
          //              console.log(event.target.result);
          //              $("#imgPreview").attr('src', event.target.result);
          //          }
          //          reader.readAsDataURL(file);
          //      }
          //  });
          //  $("#parenTypes").change(function () {

          //      console.log($(this).val())
          //      $.get("/PropertyTypes/GetChildType?pid=" + $(this).val(), function (data, status) {
          //      console.log(data)
          //          $("#drptypes").empty();
          //          $("#drptypes").append($('<option></option>').val("propertyTypeId").html("propertyTypeName"));
          //          //$.each(data, function (i,v) {
          //          //    $("#drptypes").append($('<option></option>').val(v.propertyTypeId).html(v.propertyTypeName));
          //          //})
                   
          //})
        })
            //$("#drpDeveloper").change(function () {
            //    alert($(this).val())
            //    loadPrjbyDeveloper($(this).val())
            //})
            $("#drpCountry").change(function(){
                loadDivision($(this).val())
            })
            $("#drpDivision").change(function () {
                loadCity($(this).val())
            })
           
            $("#drpCity").change(function () {
                loadArea($(this).val())
            })
    //})


    function loadParentType() {    
            $.get("/PropertyTypes/GetChildType" , function (data, status) {
                console.log(data)
                $("#parenTypes").empty();
                $("#parenTypes").append($('<option></option>').val("0").html("Select type"));
                $.each(data, function (i, v) {
                    $("#parenTypes").append($('<option></option>').val(v.propertyTypeId).html(v.propertyTypeName));
                })

            })
        }
        function loadDeveloper() {
            $.get("/DevelopersorAgents/GetDeveloper", function (data, status) {
                console.log(data.data)
                $("#drpDeveloper").empty();
                $("#drpDeveloper").append($('<option></option>').val("0").html("Select Developer or agent"));
                $.each(data.data, function (i, v) {
                    $("#drpDeveloper").append($('<option></option>').val(v.id).html(v.companyName));
                })

            })
        }
        function loadPrjbyDeveloper(devid) {
            console.log("dev id: "+devid)
            $.get("/ProjectsInfoes/GetProjects?id=" + devid, function (data, status) {
                console.log(data.data)
                $("#drpprj").empty();
                $("#drpprj").append($('<option></option>').val("0").html("Select Project"));
                $.each(data.data, function (i, v) {

                    $("#drpprj").append($('<option></option>').val(v.id).html(v.projectName));
                })

            })
        }
        function loadCountry(){
            $.get("/Countries/GetCountry" , function (data, status) {
                console.log(data)
                $("#drpCountry").empty();
                $("#drpCountry").append($('<option></option>').val("0").html("Select country"));
                $.each(data, function (i, v) {
                    $("#drpCountry").append($('<option></option>').val(v.countryID).html(v.countryName));
                })

            })
        }

        function loadDivision( cid) {
            $.get("/Divisions/GetDivision?cid="+cid, function (data, status) {
                console.log(data)
                $("#drpDivision").empty();
                $("#drpDivision").append($('<option></option>').val("0").html("Select Division"));
                $.each(data, function (i, v) {
                    $("#drpDivision").append($('<option></option>').val(v.divisionID).html(v.divisionName));
                })

            })
        }
        function loadCity( did) {
            $.get("/Cities/GetCities?did="+did, function (data, status) {
                console.log(data)
                $("#drpCity").empty();
                $("#drpCity").append($('<option></option>').val("0").html("Select City"));
                $.each(data, function (i, v) {
                    $("#drpCity").append($('<option></option>').val(v.cityId).html(v.cityName));
                })

            })
        }
        function loadArea( cid) {
            $.get("/Areas/GetArea?cid=" +cid, function (data, status) {
                console.log(data)
                $("#drpArea").empty();
                $("#drpArea").append($('<option></option>').val("0").html("Select Area"));
                $.each(data, function (i, v) {
                    $("#drpArea").append($('<option></option>').val(v.areaId).html(v.areaName));
                })

            })
        }
        function loadUNit() {
            $.get("/MeasurementUnits/GetMeasurmentUnit", function (data, status) {
                console.log(data)
                $("#drpunit").empty();
                $("#drpunit").append($('<option></option>').val("0").html("Select Unit"));
                $.each(data.data, function (i, v) {
                    $("#drpunit").append($('<option></option>').val(v.id).html(v.name));
                })

            })
        }
</script>
}


              @*<div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PropertyName" class="control-label"></label>
                            <input asp-for="PropertyName" class="form-control" />
                            <span asp-validation-for="PropertyName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PropertyTypeId" class="control-label"></label>
                            <select asp-for="PropertyTypeId" class="form-control" asp-items="ViewBag.PropertyTypeId"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="AreaId" class="control-label"></label>
                            <select asp-for="AreaId" class="form-control" asp-items="ViewBag.AreaId"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ConstructionStatus" class="control-label"></label>
                            <input asp-for="ConstructionStatus" class="form-control" />
                            <span asp-validation-for="ConstructionStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PropertySize" class="control-label"></label>
                            <input asp-for="PropertySize" class="form-control" />
                            <span asp-validation-for="PropertySize" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NumberOfBedrooms" class="control-label"></label>
                            <input asp-for="NumberOfBedrooms" class="form-control" />
                            <span asp-validation-for="NumberOfBedrooms" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NumberOfBaths" class="control-label"></label>
                            <input asp-for="NumberOfBaths" class="form-control" />
                            <span asp-validation-for="NumberOfBaths" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NumberOfBalconies" class="control-label"></label>
                            <input asp-for="NumberOfBalconies" class="form-control" />
                            <span asp-validation-for="NumberOfBalconies" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NumberOfGarages" class="control-label"></label>
                            <input asp-for="NumberOfGarages" class="form-control" />
                            <span asp-validation-for="NumberOfGarages" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TotalFloor" class="control-label"></label>
                            <input asp-for="TotalFloor" class="form-control" />
                            <span asp-validation-for="TotalFloor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="FloorAvailableNo" class="control-label"></label>
                            <input asp-for="FloorAvailableNo" class="form-control" />
                            <span asp-validation-for="FloorAvailableNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Furnishing" class="control-label"></label>
                            <input asp-for="Furnishing" class="form-control" />
                            <span asp-validation-for="Furnishing" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Facing" class="control-label"></label>
                            <input asp-for="Facing" class="form-control" />
                            <span asp-validation-for="Facing" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="LandArea" class="control-label"></label>
                            <input asp-for="LandArea" class="form-control" />
                            <span asp-validation-for="LandArea" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="HandOverDate" class="control-label"></label>
                            <input asp-for="HandOverDate" class="form-control" />
                            <span asp-validation-for="HandOverDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PropertyCondition" class="control-label"></label>
                            <select asp-for="PropertyCondition" class="form-control" asp-items="ViewBag.TransactionTypeId"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Comments" class="control-label"></label>
                            <input asp-for="Comments" class="form-control" />
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ProjectId" class="control-label"></label>
                            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea type="text" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group mt-2">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>*@






@*<h1>Edit</h1>

<h4>PropertyDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyInfoId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyName" class="control-label"></label>
                <input asp-for="PropertyName" class="form-control" />
                <span asp-validation-for="PropertyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConstructionStatus" class="control-label"></label>
                <input asp-for="ConstructionStatus" class="form-control" />
                <span asp-validation-for="ConstructionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertySize" class="control-label"></label>
                <input asp-for="PropertySize" class="form-control" />
                <span asp-validation-for="PropertySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBedrooms" class="control-label"></label>
                <input asp-for="NumberOfBedrooms" class="form-control" />
                <span asp-validation-for="NumberOfBedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBaths" class="control-label"></label>
                <input asp-for="NumberOfBaths" class="form-control" />
                <span asp-validation-for="NumberOfBaths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBalconies" class="control-label"></label>
                <input asp-for="NumberOfBalconies" class="form-control" />
                <span asp-validation-for="NumberOfBalconies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfGarages" class="control-label"></label>
                <input asp-for="NumberOfGarages" class="form-control" />
                <span asp-validation-for="NumberOfGarages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalFloor" class="control-label"></label>
                <input asp-for="TotalFloor" class="form-control" />
                <span asp-validation-for="TotalFloor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorAvailableNo" class="control-label"></label>
                <input asp-for="FloorAvailableNo" class="form-control" />
                <span asp-validation-for="FloorAvailableNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Furnishing" class="control-label"></label>
                <input asp-for="Furnishing" class="form-control" />
                <span asp-validation-for="Furnishing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facing" class="control-label"></label>
                <input asp-for="Facing" class="form-control" />
                <span asp-validation-for="Facing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandArea" class="control-label"></label>
                <input asp-for="LandArea" class="form-control" />
                <span asp-validation-for="LandArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement" class="control-label"></label>
                <input asp-for="Measurement" class="form-control" />
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandOverDate" class="control-label"></label>
                <input asp-for="HandOverDate" class="form-control" />
                <span asp-validation-for="HandOverDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyTypeId" class="control-label"></label>
                <select asp-for="PropertyTypeId" class="form-control" asp-items="ViewBag.PropertyTypeId"></select>
                <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionTypeId" class="control-label"></label>
                <select asp-for="TransactionTypeId" class="form-control" asp-items="ViewBag.TransactionTypeId"></select>
                <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IconId" class="control-label"></label>
                <select asp-for="IconId" class="form-control" asp-items="ViewBag.IconId"></select>
                <span asp-validation-for="IconId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class="form-control" asp-items="ViewBag.AreaId"></select>
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyForId" class="control-label"></label>
                <select asp-for="PropertyForId" class="form-control" asp-items="ViewBag.PropertyForId"></select>
                <span asp-validation-for="PropertyForId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

