@model IEnumerable<USBDProperty.Models.PropertyDetails>

@{
    ViewData["Title"] = "GetPropertyByParent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="properties">
    <div class="row ">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <section class="properties">
                        <div class="container">
                            <div class="home_in">
                                <form asp-action="MoreSearch" asp-controller="PropertyDetails">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Search Keyword</label>
                                            <input type="text" class="form-control" name="SearchText" placeholder="Search Text" />
                                        </div>
                                        <div class="col-md-12">
                                            @*<label>Property Purposes</label>*@
                                            <input type="radio" asp-items="PropertyFor" name="Buy" value=1 />
                                            <label for="">Buy</label>

                                            <input type="radio" asp-items="PropertyFor" name="Sale" value="2" />
                                            <label for="">Sale</label>

                                            <input type="radio" asp-items="PropertyFor" name="Rent" value="3" />
                                            <label for="">Rent</label>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Property Catrgory</label>
                                            <select class="form-control" name="PropertyTypeId" id="PropertyTypeId">
                                                <option>All Property Type</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label>size (sqft)</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input class="form-control" type="number" asp-items="PropertySize" name="minsize" placeholder="Min" />
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" type="number" asp-items="PropertySize" placeholder="Max" name="maxsize" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Min No. of Bed</label>
                                            <input class="form-control" type="number" asp-items="NumberOfBedrooms" name="NumberOfBedrooms" placeholder="Number of Bedroom" value="" />
                                        </div>
                                        <div class="col-md-12">
                                            <label>Price</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input class="form-control" type="number" asp-items="Price" placeholder="Min" name="minprice" />
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" type="number" asp-items="Price " placeholder="Max" name="maxprice" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <label>Property Purposes</label>
                                            <select class="form-control" asp-items="@Html.GetEnumSelectList<ConstructionStatus>()">
                                                <option>Property Construction</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success">Search</button>
                                        <button type="reset" class="btn btn-danger">Clear</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-8">
                    @* <section class="properties">*@
                    @*<div class="container">*@
                    @*@("~/image/"+item.ImageName)*@
                    <ul class="row">
                        @foreach (var pinfo in Model)
                        {
                            <li class="col-md-12">
                                @*<span class="tag tagg font-montserrat sale">@pinfo.PropertyFor</span>*@
                                <section class="row flex-row">
                                    <div class="col-md-6">
                                        <span class="tag tagg font-montserrat sale">@pinfo.PropertyFor</span>
                                        <div class="img">
                                            <a href="/PropertyDetails/HomePropertyDetails/@pinfo.PropertyInfoId"><img class="img-responsive" src="@Url.Content(@pinfo.ImagePath)" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="details-sec">
                                            @*@Html.Raw(pinfo.PropertySize + " " + @pinfo.MeasurementUnit.ShortName) *@
                                            <p class="font-montserrat">@(pinfo.FlatSize + " " + pinfo.MeasurementUnit.ShortName + ", " + pinfo.NumberOfBedrooms + " Beds " + pinfo.ConstructionStatus + " " + pinfo.PropertyType.PropertyTypeName + " for " + pinfo.PropertyFor + " at " + pinfo.Location)</p>
                                            <p class="ptype">@pinfo.PropertyType.PropertyTypeName </p>
                                            <span class="locate m-0"><i class="fa fa-map-marker"></i> @(pinfo.Location + " " + pinfo.Area.AreaName)</span>

                                            <ul>
                                                <li><span><i class="fa fa-home"></i> @(pinfo.FlatSize + " " + @pinfo.MeasurementUnit.ShortName)</span></li>
                                                <li><span><i class="fa fa-bed"></i> @(pinfo.NumberOfBedrooms + " Beds")</span></li>
                                                <li><span><i class="fa fa-tty"></i> @(pinfo.NumberOfBaths + " Baths")</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </section>
                            </li>
                        }
                    </ul>
                @*</section>*@
            </div>
        </div>
    </div>
</div>
</section>




@*<h1>GetPropertyByParent</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISFeatured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstructionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertySize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBalconies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGarages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorAvailableNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furnishing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandOverDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectsInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasurementUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISFeatured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertySize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBalconies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGarages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorAvailableNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furnishing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandOverDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType.PropertyTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectsInfo.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementUnit.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
