@model IEnumerable<USBDProperty.Models.PropertyDetails>

@{
    ViewData["Title"] = "MoreSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MoreSearch</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstructionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertySize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBalconies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGarages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorAvailableNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furnishing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandOverDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectsInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertySize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBalconies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGarages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorAvailableNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furnishing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandOverDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType.PropertyTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectsInfo.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
