@model USBDProperty.Models.Division

@{
    ViewData["Title"] = "Delete";
    if(User.IsInRole("Agent"))
    {
        Layout = "~/Views/Shared/_AgentLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

<main id="main">
    <div class="card">
        <div class="card-body">

            <h5 class="card-title text-center text-danger">Are you sure you want to delete this?</h5>
            <hr style="width:100%;"/>
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DivisionID)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DivisionID)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DivisionName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DivisionName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Country.CountryName)
                </dd>
            </dl>
            <div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="DivisionID" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</main>

