@model IEnumerable<USBDProperty.Models.Division>

@{
    ViewData["Title"] = "Index";
    if(User.IsInRole("Agent"))
    {
        Layout = "~/Views/Shared/_AgentLayout.cshtml";
    }
    else
    {
        // Layout = "~/Views/Shared/_AdminLayout.cshtml";
        Layout = "~/Views/Shared/LayoutAdminLTe.cshtml";
    }
}


<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Divisions">Divisions</a></li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<div class="content-wrapper" style="min-height: 1302.12px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Locations</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Divisions">Divisions</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h3 class="card-title">List of Divisions</h3>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="card-title"><a asp-action="Create">Create New</a></h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        @* <th>
                                            @Html.DisplayNameFor(model => model.DivisionID)
                                        </th> *@
                                        <th>
                                            @Html.DisplayNameFor(model => model.DivisionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Country)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                           @*  <td>
                                                @Html.DisplayFor(modelItem => item.DivisionID)
                                            </td> *@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DivisionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Country.CountryName)
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-success">Action</button>
                                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.DivisionID"><i class="bi bi-pencil-square"></i>Edit</a>
                                                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.DivisionID"><i class="bi bi-eye-fill"></i>Details</a>
                                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.DivisionID"><i class="bi bi-trash"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        @* <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                        </div> *@
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>




@* <main id="main">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h5 class="card-title text-center">List of Division</h5>
                </div>
                <div class="col-md-3">
                    <h5 class="card-title"><a asp-action="Create">Create New</a></h5>
                </div>
            </div>


            <table class="table datatable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DivisionID)
                        </th>
                          <th>
                            @Html.DisplayNameFor(model => model.DivisionName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DivisionID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DivisionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country.CountryName)
                            </td>                         
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>
                                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item text-primary" asp-action="Edit" asp-route-id="@item.DivisionID"><i class="bi bi-pencil-square"></i>Edit</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-primary" asp-action="Details" asp-route-id="@item.DivisionID"><i class="bi bi-eye-fill"></i>Details</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-primary" asp-action="Delete" asp-route-id="@item.DivisionID"><i class="bi bi-trash"></i>Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main> *@

