@model USBDProperty.Models.Notice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center"> Notification Details</h5>
        <hr style="width:100%;" />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.Raw(Model.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Images)
            </dt>
            <dd class="col-sm-9">
                <img class="img-responsive" src="@Url.Content(@Model.ImagePath)" height="180" width="220" />
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UpdateBy)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UpdateBy)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <div class="card-footer">
                <div class="mt-4">
                    <a asp-action="Edit" asp-route-id="@Model?.NoticeID">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </dl>
    </div>
</div>




