@model IEnumerable<USBDProperty.Models.PropertyFeatures>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <h5 class="card-title">List Property Features</h5>
                <hr style="width:100%;" />
            </div>
            <div class="col-md-3">
                <h5 class="card-title"><a asp-action="Create">Create New</a></h5>
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PropertyFeatureId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PropertyFeatureName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FeatureDescription)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PropertyFeatureId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PropertyFeatureName)
                        </td>
                        <td>
                            @Html.Raw(item.FeatureDescription)
                        </td>
                        @*<td>
                            <a asp-action="Edit" asp-route-id="@item.PropertyFeatureId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.PropertyFeatureId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.PropertyFeatureId">Delete</a>
                            </td>*@
                        <td class="col-md-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success">Action</button>
                                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-primary" asp-action="Edit" asp-route-id="@item.PropertyFeatureId"><i class="bi bi-pencil-square"></i>Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-primary" asp-action="Details" asp-route-id="@item.PropertyFeatureId"><i class="bi bi-eye-fill"></i>Details</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-primary" asp-action="Delete" asp-route-id="@item.PropertyFeatureId"><i class="bi bi-trash"></i>Delete</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*
    <h1>Index</h1>

    <p>
    <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.PropertyFeatureName)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.FeatureDescription)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.PropertyFeatureName)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.FeatureDescription)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.PropertyFeatureId">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.PropertyFeatureId">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.PropertyFeatureId">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table>*@
