@model IEnumerable<USBDProperty.Models.ClientContact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyForId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyForId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType.PropertyTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientContactId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientContactId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientContactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
